
<section id="Allcategory-page">
    <div class="container">

        <div class="row all-category-row ">
            <div class="col-lg-3 col-sm-6" >
                <div class="card all-category ">
                <h6 class="card-header all-category-header">Electronics</h6>
                <ul class="all-category-list">
                    <li><a href="" class="nav_a">Musical Instruments &amp; Professional Audio</a></li>
                    <li><a href="" class="nav_a">Gaming Consoles</a></li>
                    <li><a href="" class="nav_a"> All Electronics </a></li>
                    <li><a href="" class="nav_a">Air Conditioners</a></li>
                    <li><a href="" class="nav_a">Refrigerators</a></li>
                    <li><a href="" class="nav_a">Washing Machines</a></li>
                    <li><a href="" class="nav_a">Kitchen &amp; Home Appliances</a></li>
                    <li><a href="" class="nav_a">Heating &amp; Cooling Appliances</a></li>
                    <li><a href="" class="nav_a">All Appliances</a></li>
                </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" >
                <div class="card all-category ">
                <h6 class="card-header all-category-header">MOTHERBOARD</h6>
                <ul class="all-category-list">
                    <li><a href="" class="nav_a">Musical Instruments &amp; Professional Audio</a></li>
                    <li><a href="" class="nav_a">Gaming Consoles</a></li>
                    <li><a href="" class="nav_a"> All Electronics </a></li>
                    <li><a href="" class="nav_a">Air Conditioners</a></li>
                    <li><a href="" class="nav_a">Refrigerators</a></li>
                    <li><a href="" class="nav_a">Washing Machines</a></li>
                    <li><a href="" class="nav_a">Kitchen &amp; Home Appliances</a></li>
                    <li><a href="" class="nav_a">Heating &amp; Cooling Appliances</a></li>
                    <li><a href="" class="nav_a">All Appliances</a></li>
                </ul>
            </div>
            </div>
        <div class="col-lg-3 col-sm-6" >
            <div class="card all-category ">
                <h6 class="card-header all-category-header">HDD</h6>
                <ul class="all-category-list">
                    <li><a href="" class="nav_a">Musical Instruments &amp; Professional Audio</a></li>
                    <li><a href="" class="nav_a">Gaming Consoles</a></li>
                    <li><a href="" class="nav_a"> All Electronics </a></li>
                    <li><a href="" class="nav_a">Air Conditioners</a></li>
                    <li><a href="" class="nav_a">Refrigerators</a></li>
                    <li><a href="" class="nav_a">Washing Machines</a></li>
                    <li><a href="" class="nav_a">Kitchen &amp; Home Appliances</a></li>
                    <li><a href="" class="nav_a">Heating &amp; Cooling Appliances</a></li>
                    <li><a href="" class="nav_a">All Appliances</a></li>
                </ul>
            </div>
            </div>
            <div class="col-lg-3 col-sm-6" >
                <div class="card all-category ">
                    <h6 class="card-header all-category-header">mobile and computer</h6>
                <ul class="all-category-list">
                    <li><a href="" class="nav_a">Musical Instruments &amp; Professional Audio</a></li>
                    <li><a href="" class="nav_a">Gaming Consoles</a></li>
                    <li><a href="" class="nav_a"> All Electronics </a></li>
                    <li><a href="" class="nav_a">Air Conditioners</a></li>
                    <li><a href="" class="nav_a">Refrigerators</a></li>
                    <li><a href="" class="nav_a">Washing Machines</a></li>
                    <li><a href="" class="nav_a">Kitchen &amp; Home Appliances</a></li>
                    <li><a href="" class="nav_a">Heating &amp; Cooling Appliances</a></li>
                    <li><a href="" class="nav_a">All Appliances</a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>

</section>
