<section id="category-filter">
    <div class="container">
        <div class="row">
            <div class=" col-lg-2 col-md-3 col-sm-12  ">
                <aside class="left__side mb mt-3">

                    <ul uk-accordion="multiple: true">
                        <li class="uk-open">
                            <a class="uk-accordion-title" href="#"><h5> Category</h5></a>
                            <div class="uk-accordion-content">
                                <div class="scrollbar   mCustomScrollbar">
                                    <ul>
                                        <li class="category-list"><a class="link-category" href="#">Mobile
                                                        </a></li>
                                        <li class="category-list"><a class="link-category" href="#">Mobile
                                            </a></li>

                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <a class="uk-accordion-title" href="#"><h5> Price</h5></a>
                            <div class="uk-accordion-content">
                                <div class="price-list ">


                                    <form class="" >
                                        <p class="">Max Price: <span class="uk-badge  " id="rangeValue" placeholder="" style="background-color: #e6191a">100</span></p>
                                        <input id="range" class="uk-range " type="range" value="2" min="100" max="10000" step="1" oninput="document.getElementById('rangeValue').innerHTML = this.value">
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li >
                            <a class="uk-accordion-title" href="#"><h5> Brand</h5></a>
                            <div class="uk-accordion-content brand__filter">
                                <form>
                                    <label><input class="uk-checkbox" type="checkbox" checked> samsung</label>
                                    <label><input class="uk-checkbox" type="checkbox" > samsung</label>
                                    <label><input class="uk-checkbox" type="checkbox" > samsung</label>
                                    <label><input class="uk-checkbox" type="checkbox" > samsung</label>
                                    <label><input class="uk-checkbox" type="checkbox" > samsung</label>
                                    <label><input class="uk-checkbox" type="checkbox" > samsung</label>
                                    <label><input class="uk-checkbox" type="checkbox" > samsung</label>


                                </form>
                            </div>
                        </li>
                        <li >
                            <a class="uk-accordion-title" href="#"><h5> Size</h5></a>
                            <div class="uk-accordion-content brand__filter">
                                <form>
                                    <label><input class="uk-checkbox" type="checkbox" checked> Small</label>
                                    <label><input class="uk-checkbox" type="checkbox" > Medium</label>
                                    <label><input class="uk-checkbox" type="checkbox" > Large</label>
                                    <label><input class="uk-checkbox" type="checkbox" > XXL</label>
                                    <label><input class="uk-checkbox" type="checkbox" > XL</label>


                                </form>
                            </div>
                        </li>
                    </ul>

                </aside>

            </div>
            <div class=" col-lg-10 col-md-9 box-shadow-xy">
                {#{% include 'breadcrumb.njk' %}#}
                <div class="d-flex align-items-center justify-content-between">
                <div class="Name__of__category mt-2">
                    <div class="heading d-flex">
                        <h3>Fashion and Wears </h3><span class="text-muted">(showing 1-40 products)</span>
                    </div>

                </div>
                <div class="product_sort_by ">
                    <div class="d-flex align-items-center">
                        <div class="heading">
                            <h3>Sort by:</h3>

                        </div>
                    <select name="" class="uk-select" style="width: 200px">
                        <option value="">New</option>
                        <option value="">Price</option>
                        <option value="">Popular</option>
                    </select>
                    </div>

                </div>
                </div>
                <div class="product-category white-product">

                    <article class="product instock sale purchasable" >
                        <div class="product-wrap">
                            <div class="product-top">
                                <span class="product-label discount">new</span>
                                {#<div class="product-action">#}
                                {#<div class=" add-to-wishlist">#}
                                {#<div class="add-button show" style="display:block">#}
                                {#<a href="" class="fas fa-heart add_to_wishlist"></a>#}
                                {#</div>#}
                                {#</div>#}
                                {#<div class="clearfix"></div>#}
                                {#</div>#}
                                <figure>
                                    <a href="singlepage.html">
                                        <div class="product-image">
                                            <img width="320" height="320"
                                                 src="https://cf2.s3.souqcdn.com/item/2016/12/14/12/01/99/12/item_XL_12019912_18013925.jpg"
                                                 class="attachment-shop_catalog size-shop_catalog" alt="">
                                        </div>
                                    </a>
                                </figure>
                                {#<a href="#quickview-modal" uk-toggle class="btn-quickview button"><i class="fas fa-search-plus"></i></a>#}

                            </div>
                            <div class="product-description">

                                <div class="product-meta">
                                    <div class="title-wrap">
                                        <p class="product-title">
                                            <a href="singlepage.html">G Stylo MS631 16GB 4G LTE SmartPhone GSM Unlocked</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="product_price">
                                        <div class="product_price-actual">
                                            Rs.2000
                                        </div>
                                        <div class="product_price-discount">
                                                 <span class="line-through">
                                                     Rs.2500
                                                 </span>
                                            <span>-20%</span>
                                        </div>
                                    </div>
                                    <div class="product_cart">
                                        <a href="javascript:void(0)" > <ion-icon name="cart" uk-tooltip=" Add to Cart"></ion-icon></a></div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="product instock sale purchasable" >
                        <div class="product-wrap">
                            <div class="product-top">
                                <span class="product-label discount">sale</span>
                                {#<div class="product-action">#}
                                {#<div class=" add-to-wishlist">#}
                                {#<div class="add-button show" style="display:block">#}
                                {#<a href="" class="fas fa-heart add_to_wishlist"></a>#}
                                {#</div>#}
                                {#</div>#}
                                {#<div class="clearfix"></div>#}
                                {#</div>#}
                                <figure>
                                    <a href="singlepage.html">
                                        <div class="product-image">
                                            <img width="320" height="320"
                                                 src="https://www.dhresource.com/0x0s/f2-albu-g5-M00-FB-A1-rBVaI1jaBsyASTsMAASv93iI80k903.jpg/ta-nabilir-mini-led-bluetooth-hoparl-r-kablosuz.jpg"
                                                 class="attachment-shop_catalog size-shop_catalog" alt="">
                                        </div>
                                    </a>
                                </figure>
                                {#<a href="#quickview-modal" uk-toggle class="btn-quickview button"><i class="fas fa-search-plus"></i></a>#}

                            </div>
                            <div class="product-description">

                                <div class="product-meta">
                                    <div class="title-wrap">
                                        <p class="product-title">
                                            <a href="singlepage.html">G Stylo MS631 16GB 4G LTE SmartPhone GSM Unlocked</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="product_price">
                                        <div class="product_price-actual">
                                            Rs.2000
                                        </div>
                                        <div class="product_price-discount">
                                                 <span class="line-through">
                                                     Rs.2500
                                                 </span>
                                            <span>-20%</span>
                                        </div>
                                    </div>
                                    <div class="product_cart">
                                        <a href="javascript:void(0)" > <ion-icon name="cart" uk-tooltip=" Add to Cart"></ion-icon></a></div>
                                </div>

                            </div>
                        </div>
                    </article>
                    <article class="product instock sale purchasable" >
                        <div class="product-wrap">
                            <div class="product-top">
                                <span class="product-label discount">sale</span>
                                {#<div class="product-action">#}
                                {#<div class=" add-to-wishlist">#}
                                {#<div class="add-button show" style="display:block">#}
                                {#<a href="" class="fas fa-heart add_to_wishlist"></a>#}
                                {#</div>#}
                                {#</div>#}
                                {#<div class="clearfix"></div>#}
                                {#</div>#}
                                <figure>
                                    <a href="singlepage.html">
                                        <div class="product-image">
                                            <img width="320" height="320"
                                                 src="https://i.pinimg.com/474x/a6/d4/28/a6d428e72846103275824c0031e5f43d--dress-vest-vest-coat.jpg"
                                                 class="attachment-shop_catalog size-shop_catalog" alt="">
                                        </div>
                                    </a>
                                </figure>
                                {#<a href="#quickview-modal" uk-toggle class="btn-quickview button"><i class="fas fa-search-plus"></i></a>#}

                            </div>
                            <div class="product-description">

                                <div class="product-meta">
                                    <div class="title-wrap">
                                        <p class="product-title">
                                            <a href="singlepage.html">G Stylo MS631 16GB 4G LTE SmartPhone GSM Unlocked</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="product_price">
                                        <div class="product_price-actual">
                                            Rs.2000
                                        </div>
                                        <div class="product_price-discount">
                                                 <span class="line-through">
                                                     Rs.2500
                                                 </span>
                                            <span>-20%</span>
                                        </div>
                                    </div>
                                    <div class="product_cart">
                                        <a href="javascript:void(0)" > <ion-icon name="cart" uk-tooltip=" Add to Cart"></ion-icon></a></div>
                                </div>

                            </div>
                        </div>
                    </article>
                    <article class="product instock sale purchasable" >
                        <div class="product-wrap">
                            <div class="product-top">
                                <span class="product-label discount">hot</span>
                                {#<div class="product-action">#}
                                {#<div class=" add-to-wishlist">#}
                                {#<div class="add-button show" style="display:block">#}
                                {#<a href="" class="fas fa-heart add_to_wishlist"></a>#}
                                {#</div>#}
                                {#</div>#}
                                {#<div class="clearfix"></div>#}
                                {#</div>#}
                                <figure>
                                    <a href="singlepage.html">
                                        <div class="product-image">
                                            <img width="320" height="320"
                                                 src="https://wp.xpeedstudio.com/marketo/wp-content/uploads/2018/05/24-180x134.png"
                                                 class="attachment-shop_catalog size-shop_catalog" alt="">
                                        </div>
                                    </a>
                                </figure>
                                {#<a href="#quickview-modal" uk-toggle class="btn-quickview button"><i class="fas fa-search-plus"></i></a>#}

                            </div>
                            <div class="product-description">

                                <div class="product-meta">
                                    <div class="title-wrap">
                                        <p class="product-title">
                                            <a href="singlepage.html">G Stylo MS631 16GB 4G LTE SmartPhone GSM Unlocked</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="product_price">
                                        <div class="product_price-actual">
                                            Rs.2000
                                        </div>
                                        <div class="product_price-discount">
                                                 <span class="line-through">
                                                     Rs.2500
                                                 </span>
                                            <span>-20%</span>
                                        </div>
                                    </div>
                                    <div class="product_cart">
                                        <a href="javascript:void(0)" > <ion-icon name="cart" uk-tooltip=" Add to Cart"></ion-icon></a></div>
                                </div>

                            </div>
                        </div>
                    </article>
                    <article class="product instock sale purchasable" >
                        <div class="product-wrap">
                            <div class="product-top">
                                <span class="product-label discount">sale</span>
                                {#<div class="product-action">#}
                                {#<div class=" add-to-wishlist">#}
                                {#<div class="add-button show" style="display:block">#}
                                {#<a href="" class="fas fa-heart add_to_wishlist"></a>#}
                                {#</div>#}
                                {#</div>#}
                                {#<div class="clearfix"></div>#}
                                {#</div>#}
                                <figure>
                                    <a href="singlepage.html">
                                        <div class="product-image">
                                            <img width="320" height="320"
                                                 src="https://wp.xpeedstudio.com/marketo/wp-content/uploads/2018/05/24-180x134.png"
                                                 class="attachment-shop_catalog size-shop_catalog" alt="">
                                        </div>
                                    </a>
                                </figure>
                                {#<a href="#quickview-modal" uk-toggle class="btn-quickview button"><i class="fas fa-search-plus"></i></a>#}

                            </div>
                            <div class="product-description">

                                <div class="product-meta">
                                    <div class="title-wrap">
                                        <p class="product-title">
                                            <a href="singlepage.html">G Stylo MS631 16GB 4G LTE SmartPhone GSM Unlocked</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="product_price">
                                        <div class="product_price-actual">
                                            Rs.2000
                                        </div>
                                        <div class="product_price-discount">
                                                 <span class="line-through">
                                                     Rs.2500
                                                 </span>
                                            <span>-20%</span>
                                        </div>
                                    </div>
                                    <div class="product_cart">
                                        <a href="javascript:void(0)" > <ion-icon name="cart" uk-tooltip=" Add to Cart"></ion-icon></a></div>
                                </div>

                            </div>
                        </div>
                    </article>

                    <article class="product instock sale purchasable" >
                        <div class="product-wrap">
                            <div class="product-top">
                                <span class="product-label discount">new</span>
                                {#<div class="product-action">#}
                                {#<div class=" add-to-wishlist">#}
                                {#<div class="add-button show" style="display:block">#}
                                {#<a href="" class="fas fa-heart add_to_wishlist"></a>#}
                                {#</div>#}
                                {#</div>#}
                                {#<div class="clearfix"></div>#}
                                {#</div>#}
                                <figure>
                                    <a href="singlepage.html">
                                        <div class="product-image">
                                            <img width="320" height="320"
                                                 src="https://cf2.s3.souqcdn.com/item/2016/12/14/12/01/99/12/item_XL_12019912_18013925.jpg"
                                                 class="attachment-shop_catalog size-shop_catalog" alt="">
                                        </div>
                                    </a>
                                </figure>
                                {#<a href="#quickview-modal" uk-toggle class="btn-quickview button"><i class="fas fa-search-plus"></i></a>#}

                            </div>
                            <div class="product-description">

                                <div class="product-meta">
                                    <div class="title-wrap">
                                        <p class="product-title">
                                            <a href="singlepage.html">G Stylo MS631 16GB 4G LTE SmartPhone GSM Unlocked</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="product_price">
                                        <div class="product_price-actual">
                                            Rs.2000
                                        </div>
                                        <div class="product_price-discount">
                                                 <span class="line-through">
                                                     Rs.2500
                                                 </span>
                                            <span>-20%</span>
                                        </div>
                                    </div>
                                    <div class="product_cart">
                                        <a href="javascript:void(0)" > <ion-icon name="cart" uk-tooltip=" Add to Cart"></ion-icon></a></div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="product instock sale purchasable" >
                        <div class="product-wrap">
                            <div class="product-top">
                                <span class="product-label discount">sale</span>
                                {#<div class="product-action">#}
                                {#<div class=" add-to-wishlist">#}
                                {#<div class="add-button show" style="display:block">#}
                                {#<a href="" class="fas fa-heart add_to_wishlist"></a>#}
                                {#</div>#}
                                {#</div>#}
                                {#<div class="clearfix"></div>#}
                                {#</div>#}
                                <figure>
                                    <a href="singlepage.html">
                                        <div class="product-image">
                                            <img width="320" height="320"
                                                 src="https://www.dhresource.com/0x0s/f2-albu-g5-M00-FB-A1-rBVaI1jaBsyASTsMAASv93iI80k903.jpg/ta-nabilir-mini-led-bluetooth-hoparl-r-kablosuz.jpg"
                                                 class="attachment-shop_catalog size-shop_catalog" alt="">
                                        </div>
                                    </a>
                                </figure>
                                {#<a href="#quickview-modal" uk-toggle class="btn-quickview button"><i class="fas fa-search-plus"></i></a>#}

                            </div>
                            <div class="product-description">

                                <div class="product-meta">
                                    <div class="title-wrap">
                                        <p class="product-title">
                                            <a href="singlepage.html">G Stylo MS631 16GB 4G LTE SmartPhone GSM Unlocked</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="product_price">
                                        <div class="product_price-actual">
                                            Rs.2000
                                        </div>
                                        <div class="product_price-discount">
                                                 <span class="line-through">
                                                     Rs.2500
                                                 </span>
                                            <span>-20%</span>
                                        </div>
                                    </div>
                                    <div class="product_cart">
                                        <a href="javascript:void(0)" > <ion-icon name="cart" uk-tooltip=" Add to Cart"></ion-icon></a></div>
                                </div>

                            </div>
                        </div>
                    </article>
                    <article class="product instock sale purchasable" >
                        <div class="product-wrap">
                            <div class="product-top">
                                <span class="product-label discount">sale</span>
                                {#<div class="product-action">#}
                                {#<div class=" add-to-wishlist">#}
                                {#<div class="add-button show" style="display:block">#}
                                {#<a href="" class="fas fa-heart add_to_wishlist"></a>#}
                                {#</div>#}
                                {#</div>#}
                                {#<div class="clearfix"></div>#}
                                {#</div>#}
                                <figure>
                                    <a href="singlepage.html">
                                        <div class="product-image">
                                            <img width="320" height="320"
                                                 src="https://i.pinimg.com/474x/a6/d4/28/a6d428e72846103275824c0031e5f43d--dress-vest-vest-coat.jpg"
                                                 class="attachment-shop_catalog size-shop_catalog" alt="">
                                        </div>
                                    </a>
                                </figure>
                                {#<a href="#quickview-modal" uk-toggle class="btn-quickview button"><i class="fas fa-search-plus"></i></a>#}

                            </div>
                            <div class="product-description">

                                <div class="product-meta">
                                    <div class="title-wrap">
                                        <p class="product-title">
                                            <a href="singlepage.html">G Stylo MS631 16GB 4G LTE SmartPhone GSM Unlocked</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="product_price">
                                        <div class="product_price-actual">
                                            Rs.2000
                                        </div>
                                        <div class="product_price-discount">
                                                 <span class="line-through">
                                                     Rs.2500
                                                 </span>
                                            <span>-20%</span>
                                        </div>
                                    </div>
                                    <div class="product_cart">
                                        <a href="javascript:void(0)" > <ion-icon name="cart" uk-tooltip=" Add to Cart"></ion-icon></a></div>
                                </div>

                            </div>
                        </div>
                    </article>
                    <article class="product instock sale purchasable" >
                        <div class="product-wrap">
                            <div class="product-top">
                                <span class="product-label discount">hot</span>
                                {#<div class="product-action">#}
                                {#<div class=" add-to-wishlist">#}
                                {#<div class="add-button show" style="display:block">#}
                                {#<a href="" class="fas fa-heart add_to_wishlist"></a>#}
                                {#</div>#}
                                {#</div>#}
                                {#<div class="clearfix"></div>#}
                                {#</div>#}
                                <figure>
                                    <a href="singlepage.html">
                                        <div class="product-image">
                                            <img width="320" height="320"
                                                 src="https://wp.xpeedstudio.com/marketo/wp-content/uploads/2018/05/24-180x134.png"
                                                 class="attachment-shop_catalog size-shop_catalog" alt="">
                                        </div>
                                    </a>
                                </figure>
                                {#<a href="#quickview-modal" uk-toggle class="btn-quickview button"><i class="fas fa-search-plus"></i></a>#}

                            </div>
                            <div class="product-description">

                                <div class="product-meta">
                                    <div class="title-wrap">
                                        <p class="product-title">
                                            <a href="singlepage.html">G Stylo MS631 16GB 4G LTE SmartPhone GSM Unlocked</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="product_price">
                                        <div class="product_price-actual">
                                            Rs.2000
                                        </div>
                                        <div class="product_price-discount">
                                                 <span class="line-through">
                                                     Rs.2500
                                                 </span>
                                            <span>-20%</span>
                                        </div>
                                    </div>
                                    <div class="product_cart">
                                        <a href="javascript:void(0)" > <ion-icon name="cart" uk-tooltip=" Add to Cart"></ion-icon></a></div>
                                </div>

                            </div>
                        </div>
                    </article>
                    <article class="product instock sale purchasable" >
                        <div class="product-wrap">
                            <div class="product-top">
                                <span class="product-label discount">sale</span>
                                {#<div class="product-action">#}
                                {#<div class=" add-to-wishlist">#}
                                {#<div class="add-button show" style="display:block">#}
                                {#<a href="" class="fas fa-heart add_to_wishlist"></a>#}
                                {#</div>#}
                                {#</div>#}
                                {#<div class="clearfix"></div>#}
                                {#</div>#}
                                <figure>
                                    <a href="singlepage.html">
                                        <div class="product-image">
                                            <img width="320" height="320"
                                                 src="https://wp.xpeedstudio.com/marketo/wp-content/uploads/2018/05/24-180x134.png"
                                                 class="attachment-shop_catalog size-shop_catalog" alt="">
                                        </div>
                                    </a>
                                </figure>
                                {#<a href="#quickview-modal" uk-toggle class="btn-quickview button"><i class="fas fa-search-plus"></i></a>#}

                            </div>
                            <div class="product-description">

                                <div class="product-meta">
                                    <div class="title-wrap">
                                        <p class="product-title">
                                            <a href="singlepage.html">G Stylo MS631 16GB 4G LTE SmartPhone GSM Unlocked</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="product_price">
                                        <div class="product_price-actual">
                                            Rs.2000
                                        </div>
                                        <div class="product_price-discount">
                                                 <span class="line-through">
                                                     Rs.2500
                                                 </span>
                                            <span>-20%</span>
                                        </div>
                                    </div>
                                    <div class="product_cart">
                                        <a href="javascript:void(0)" > <ion-icon name="cart" uk-tooltip=" Add to Cart"></ion-icon></a></div>
                                </div>

                            </div>
                        </div>
                    </article>


                </div>
                {#{% include 'pagination.njk' %}#}
            </div>
        </div>
    </div>
</section>