<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 ">

                <div class="footer_title">
                    <div class="heading">
                        <h3>Follow Us</h3>
                    </div>
                </div>
                {#<div class="footer_logo pb-5">#}
                    {#<img src="https://1.bp.blogspot.com/-_nSlo7Y9SWU/WZb5C7z9_pI/AAAAAAAAA20/ET-P9Q6ymtAK_9eXbBe3_oXOz_LySclIgCK4BGAYYCw/s1600/logo-sec%2Bcopy1.png" class="" alt="company logo">#}
                {#</div>#}
                <div class="footer_list">
                    <ul>
                        <li class="footer_list--item1 d-flex align-items-center social_icons">
                            <a href="" uk-icon="facebook" class="facebook"></a>
                            <a href="" uk-icon="google-plus" class="google-plus"></a>
                            <a href="" uk-icon="twitter" class="twitter"></a>
                            <a href="" uk-icon="instagram" class="instagram"></a>
                        </li>

                        <li class="footer_list--item1">+ 977 9843******</li>
                        <li class="footer_list--item1"> Kathmandu, Nepal</li>
                        <li class="footer_list--item1"> www.dxnonline.com</li>
                       </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="footer_title">
                    <div class="heading">
                        <h3>Quick Links</h3>
                    </div>
                </div>
                <div class="footer_list">
                    <ul>
                        <li class="footer_list--item"><a href="">contact us</a></li>
                        <li class="footer_list--item"><a href="">about us</a></li>
                        <li class="footer_list--item"><a href="">details</a></li>
                        <li class="footer_list--item"><a href="">faq</a></li>
                    </ul>
                </div>
            </div>
            <div class=" col-md-6 col-sm-12">
                <div class="footer_title">
                    <div class="heading">
                        <h3>Stay Connected</h3>
                    </div>
                </div>
                <div class="footer_list ">
                    <form action="" class="d-flex pb-3 mb-3"><input type="email" class="uk-input">
                        <button class="checkout uk-button">Join</button>
                    </form>
                </div>
                <div class="footer_title">
                    <div class="heading">
                        <h3>About Us</h3>
                    </div>
                </div>
                <div class="footer_list">
                    <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae deleniti
                        dolores enim est ipsam mollitia obcaecati praesentium quisquam repellendus. Nobis!</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer id="mini-footer">
    <p>Powered by <a href="" style="color: #d3232a"> Next Nepal</a></p>
</footer>