<header class="header" id="header">
    <div class="top-header py-2 ">
        <div class="container-fluid">
            <div class=" d-flex align-items-center justify-content-between ">
                <div class="top-header-welcome--text">
                    <p>Welcome To Our Store</p>
                </div>
                <div class="top-header-contact d-flex align-items-center justify-content-around">


                    <div class="top-header_phone mr-4">
              <span>
              <span uk-icon="receiver">
</span>
                Call : 9843******
              </span>
                    </div>
                    <div class="top-header_email">
                    <span>
                    <span uk-icon="mail">
</span>
                        Email : info@gmail.com
                    </span>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="mid-header " style="z-index: 1000;" uk-sticky="top: 100;  animation: uk-animation-slide-top">
        <div class="container-fluid">
            <!-- TOP HEAD SECTION    -->
            <div class="row">

                <div class="col-md-3 col-sm-12 ">
                    <div class="logo__and__user ">

                        <div class="logo">
                            <a href="#offcanvas-usage" uk-toggle="target: #offcanvas-flip" class="bars " style="display: none;" >
                                <i class="fas fa-bars"></i>
                            </a>
                            <a class="logo-link " href="index.html">
                                <img src="https://1.bp.blogspot.com/-_nSlo7Y9SWU/WZb5C7z9_pI/AAAAAAAAA20/ET-P9Q6ymtAK_9eXbBe3_oXOz_LySclIgCK4BGAYYCw/s1600/logo-sec%2Bcopy1.png"
                                     class="" alt="company logo">
                            </a>

                        </div>
                        <div class="mobile_screen" style="display: none">
                            <div class="users">
                                <div class="user-login">
                                    <ul class="user_login_ul">
                                        <li class="user_login_li relative">
                                            <a href="" class="user-login-link " >
                                                <span>Login & SignUp</span>
                                                <i class="far fa-user" style="display: none"></i>
                                            </a>
                                            <ul class="user_login_ul sub_ul">
                                                <li class="sub_li"><a href="#">Account</a></li>
                                                <li class="sub_li"><a href="#">Wishlist</a></li>
                                                <li class="sub_li"><a href="#">Order</a></li>
                                                <li class="sub_li"><a href="#">Logout</a></li>
                                            </ul>
                                        </li>
                                    </ul>


                                </div>
                                <div class="user-cart">
                                    <a href="" class="user-cart-link">

                                        <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/shop-cart-5-664052.png"
                                             alt="">
                                        <span class="user-cart-link_no">1</span>
                                    </a>
                                    <div class="user_cart_dd">
                                        <ul class="user_cart_ul">

                                            <li>
                                                <figure style="float: left; margin-right: 10px; width: 50px;"><img
                                                            src="http://stat.homeshop18.com/homeshop18/images/productImages/81/lava-a67-dual-sim-android-mobile-phone-medium_3a86d70832ad27694f49cea1aba8dd81.jpg"
                                                            alt=""></figure>
                                                <p class="text-left">
                                                    <span> Name of PRoduct that is in the cart</span><br>
                                                    <span>1</span> <span>*</span> <span>2000</span>

                                                </p>
                                                <div class="clearfix"></div>
                                                <hr>
                                            </li>
                                            <li>
                                                <figure style="float: left; margin-right: 10px; width: 50px;"><img
                                                            src="http://stat.homeshop18.com/homeshop18/images/productImages/81/lava-a67-dual-sim-android-mobile-phone-medium_3a86d70832ad27694f49cea1aba8dd81.jpg"
                                                            alt=""></figure>
                                                <p class="text-left">
                                                    <span> Name of PRoduct</span><br>
                                                    <span>1</span> <span>*</span> <span>2000</span>

                                                </p>
                                                <div class="clearfix"></div>
                                                <hr>
                                            </li>

                                        </ul>
                                        <div class="cart_subtotal">
                                            <div class="float-left">Subtotal</div>
                                            <div class="float-right"><span class=""><span
                                                            class="">Rs.</span>38.00</span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <hr>
                                        </div>
                                        <a href="cartpage.html" class="uk-button view-cart float-left">View
                                            Cart</a>
                                        <a href="checkoutpage.html"
                                           class="uk-button checkout float-right">Checkout</a>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>


                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="search-box">
                        <div class="uk-margin">
                            <form class="uk-search uk-search-default ">
                                <span class="uk-search-icon-flip" uk-search-icon></span>
                                <input class="uk-search-input" type="search" placeholder="Search...">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="users big-screen">
                        <div class="user-login">
                            <ul class="user_login_ul">
                                <li class="user_login_li relative">
                                    <a href="loginpage.html" class="user-login-link " >
                                       <span style="
    background: #e6191b;
    color: white;
    padding: 10px;
">Login &amp; SignUp</span>
                                    </a>
                                    <ul class="user_login_ul sub_ul">
                                        <li class="sub_li"><a href="account.html">Account</a></li>
                                        <li class="sub_li"><a href="account.html">Wishlist</a></li>
                                        <li class="sub_li"><a href="account.html">Order</a></li>
                                        <li class="sub_li"><a href="account.html">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>


                        </div>

                        <div class="user-cart">
                            <a href="" class="user-cart-link">

                                <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/shop-cart-5-664052.png"
                                     alt="">
                                <span class="user-cart-link_no">1</span>
                            </a>
                            <div class="user_cart_dd">
                                <ul class="user_cart_ul">

                                    <li>
                                        <figure style="float: left; margin-right: 10px; width: 50px;"><img
                                                    src="http://stat.homeshop18.com/homeshop18/images/productImages/81/lava-a67-dual-sim-android-mobile-phone-medium_3a86d70832ad27694f49cea1aba8dd81.jpg"
                                                    alt=""></figure>
                                        <p class="text-left">
                                            <span> Name of PRoduct that is in the cart</span><br>
                                            <span>1</span> <span>*</span> <span>2000</span>

                                        </p>
                                        <div class="clearfix"></div>
                                        <hr>
                                    </li>
                                    <li>
                                        <figure style="float: left; margin-right: 10px; width: 50px;"><img
                                                    src="http://stat.homeshop18.com/homeshop18/images/productImages/81/lava-a67-dual-sim-android-mobile-phone-medium_3a86d70832ad27694f49cea1aba8dd81.jpg"
                                                    alt=""></figure>
                                        <p class="text-left">
                                            <span> Name of PRoduct</span><br>
                                            <span>1</span> <span>*</span> <span>2000</span>

                                        </p>
                                        <div class="clearfix"></div>
                                        <hr>
                                    </li>

                                </ul>
                                <div class="cart_subtotal">
                                    <div class="float-left">Subtotal</div>
                                    <div class="float-right"><span class=""><span class="">Rs.</span>38.00</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr>
                                </div>
                                <a href="cartpage.html" class="btn  btn-default view-cart float-left">View Cart</a>
                                <a href="checkoutpage.html" class="btn btn-danger checkout float-right">Checkout</a>
                                <div class="clearfix"></div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="bottom-header ">
        <div class="container">
            <div class="row">
                <div class="nav-category">
                    <a href="allcategory.html" uk-toggle class="	">
                        <i class="fas fa-tasks mr-2"></i><span>Categories</span>
                    </a>
                    <a href="allcategory.html" class="pl-3"> All category</a>

                </div>
                <ul class="nav-list-items d-flex">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="aboutpage.html">About us</a></li>
                    <li><a href="contactpage.html">Contact us</a></li>
                </ul>
            </div>
        </div>

    </div>
</header>

<!-- mobile menu -->
{% include "mobile-nav.njk" %}