<section id="mega-nav--slider">
    <div class="container" >
        <div class="row">
            <div class=" col-lg-2 col-md-2 col-sm-12  side-navbar-menu">
                {#<h3><i class="fas fa-tasks"></i><span>Categories</span>  <span class="clearfix"></span></h3>#}
                <div class="side-nav-category">
                    <ul class="side-nav-category-ul">
                        <li class="li-has-children"><a href=""> Beauty<span  class="float-right" uk-icon="icon: chevron-right"></span> <span class="clearfix"></span></a>
                            <div class="hover-side-menu">
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">
                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="li-has-children"><a href=""> Fashion<span  class="float-right" uk-icon="icon: chevron-right"></span> <span class="clearfix"></span></a>
                            <div class="hover-side-menu">
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">
                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                            </div>
                        <li class="li-has-children"><a href=""> Furniture<span  class="float-right" uk-icon="icon: chevron-right"></span> <span class="clearfix"></span></a>
                            <div class="hover-side-menu">
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">
                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="li-has-children"><a href=""> Shoe<span  class="float-right" uk-icon="icon: chevron-right"></span> <span class="clearfix"></span></a>
                            <div class="hover-side-menu">
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">
                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                            </div>

                        <li class="li-has-children"><a href=""> Sports<span  class="float-right" uk-icon="icon: chevron-right"></span> <span class="clearfix"></span></a>
                            <div class="hover-side-menu">
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">
                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="li-has-children"><a href=""> TV and Audio <span  class="float-right" uk-icon="icon: chevron-right"></span> <span class="clearfix"></span></a>
                            <div class="hover-side-menu">
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">
                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                                <div class="sub-category-block">
                                    <div class="sub-nav-main-category"><a href=""> Beauty</a></div>
                                    <ul class="side-sub-nav-category-ul">

                                        <li class="sub-nav-li"><a href=""> Beauty</a></li>
                                        <li class="sub-nav-li"><a href=""> Fashion</a></li>
                                        <li class="sub-nav-li"><a href=""> Furniture</a></li>
                                        <li class="sub-nav-li"><a href=""> Shoe</a></li>
                                        <li class="sub-nav-li"><a href=""> Food and Drink</a></li>
                                        <li class="sub-nav-li"><a href=""> Sports</a></li>
                                        <li class="sub-nav-li"><a href=""> computer</a></li>
                                        <li class="sub-nav-li"><a href=""> TV and Audio</a></li>

                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="li-has-children"><a href=""> Food and Drink<span  class="float-right" uk-icon="icon: chevron-right"></span> <span class="clearfix"></span></a>
                        </li>
                        <li class="li-has-children"><a href=""> Food and Drink<span  class="float-right" uk-icon="icon: chevron-right"></span> <span class="clearfix"></span></a>
                        </li>
                        <li class="li-has-children"><a href="allcategory-page.html"> <i class="fas fa-plus-square"></i>
                                All Category</a></li>
                    </ul>


                </div>

            </div>
            <div class="col-lg-8 col-md-8 col-sm-12" style="padding: 0">
                <div class="main-slider">
                        <div class="banner owl-carousel owl-theme ">

                            <div class="slider-images"><img
                                        src="https://s3.ap-south-1.amazonaws.com/mmimage/banners/September-Banners-05.jpg" alt="gadgets" width="100%" height="100%">

                            </div>
                            <div class="slider-images"><img
                                        src="https://3.bp.blogspot.com/-5mhe51fDMnI/WrkNVqm3FzI/AAAAAAAAA6k/m7_ciN6sgr8P47tUFqhkCcQAEcjORqPggCEwYBhgL/s1600/s9%2Bsprint.jpg"
                                        alt="gadgets" width="100%" height="100%">


                            </div>
                            <div class="slider-images"><img
                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSexpXrR_a19fh98sxRxvgltGde33338u1SIbrPpYqZFjEY_qd3"
                                        alt="gadgets" width="100%" height="100%">

                            </div>


                        </div>


                    </div>
            </div>
            <div class=" col-lg-2 col-md-4 col-sm-12 d-md-block d-sm-none d-none"  style="padding: 0">
             <div class="banner-right-side ">
                 {#<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDqJShKGYR5Yyj8Y_f4X-FjVRC_HN-Tl_ZqmOy0znvH_qOlPLR" alt="">#}
                 <img src="https://nas.com.np/storage/settings/tDRv1Ptf0dyaFyzfvU3tKFB9Usk9db3q5ASc9ADJ.png" alt="">

             </div>
            </div>
        </div>
    </div>
</section>