<section id="top-banner">
    <div class="main-slider">
        <div class="banner owl-carousel ">
            <div class="slider-images">
                <img src="http://glimageurl.golocall.com/golocal-post/image/118596_quantumhealthcare1519176642.png"
                     alt="gadgets" width="100%" height="100%">
            </div>
            <div class="slider-images"><img
                        src="http://www.balajiayurved.com/wp-content/uploads/2016/10/about_us_ingrdient.png"
                        alt="gadgets" width="100%" height="100%">
            </div>
            <div class="slider-images">
                <img src="http://yogaayurveda.ithihasa.com/wp-content/uploads/sites/2/2016/11/yoga-center-slide-1.png"
                     alt="gadgets" width="100%" height="100%">
            </div>

        </div>

    </div>

</section>







