
//colors for DXN
//#ffffff | #1b2733 | #637282 | #AB24A1
$dgrey: #ffffff;
$dblue: #1b2733;
$dblack: #637282;
$dred: #e6191b;
//$purple:#c33bfb;
//fonts for DXN
$font: 'Myriad Pro';
$head: 'Myriad Pro';
//$head: 'Playfair Display', serif;