

{% include 'dash-top.njk' %}
<div class="uk-offcanvas-content">
    <!-- header -->
    {% include 'header.njk' %}
    <!--  about us -->
    {% include 'aboutus.njk' %}
    <!-- footer -->
    {% include 'footer.njk' %}
</div>
{% include 'dash-bottom.njk' %}
