

{% include 'dash-top.njk' %}
<div class="uk-offcanvas-content">
    <!-- header -->
    {% include 'header.njk' %}
    <!-- all category -->
    {% include 'cart.njk' %}
    <!-- footer -->
    {% include 'footer.njk' %}
</div>
{% include 'dash-bottom.njk' %}