

{% include 'dash-top.njk' %}
<div class="uk-offcanvas-content">
<!-- header -->
{% include 'header.njk' %}
{% include 'sidemenu.njk' %}
{#{% include 'slider.njk' %}#}
{% include 'product-deal.njk' %}
{% include 'popularCategories.njk' %}
{% include 'advertisement-3.njk' %}
{% include 'product-category.njk' %}
{% include 'product-category.njk' %}
    {% include 'advertisement-3.njk' %}

<!-- footer -->
{% include 'footer.njk' %}
</div>
{% include 'dash-bottom.njk' %}